{% extends 'base.html' %}
{% block title %}RRETH NESH{% endblock title %}

{% block body %}

<section id="about">
  <div class="jumbotron p-5 text-white rounded bg-info" style="height:500px; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div class="col-md-6 px-0" style="margin: 0 50px;">
      <h1 class="display-4" style="font-size: 45px; font-weight: bold; line-height: 1.2;">Rreth Nesh</h1>
      <p class="lead my-3" style="font-size: 18px; font-weight: lighter; max-width: 800px; margin: 0 auto;">Agjensi për makina me qira, lider në Tirane dhe në Aeroport në Rinas për standarte të larta shërbimi dhe me cmime të ulëta.</p>
      <p class="lead my-3" style="font-size: 18px; font-weight: lighter; max-width: 800px; margin: 20px auto;">Auto Rent synon vazhdimisht të ofrojë shërbim miqësor e profesional për të gjithë klientët e vet, në mënyrë që të bëjë më të lehtë, më të shpejtë dhe më të mirë përvojën e përdorimit për makina me qera. Ne angazhohemi të ofrojmë një eksperiencë të shkëlqyer çdo herë, me prioritet klientët tanë.</p>
      <p class="lead my-3" style="font-size: 18px; font-weight: lighter; max-width: 800px; margin: 20px auto;">Auto Rent kryeson në Shqipëri në shërbimin për makina me qira ekonomike. Ne përdorim markat më të njohura dhe më të besueshme si Audi, Mercedes Benz, BMW, Volkswagen, Toyota, Smart, Peugeot, Seat, dhe shumë makina të tjera. Çdo makinë ka cilësinë më të lartë dhe përmbush standardet më të rrepta të sigurisë, duke ofruar gjithashtu teknologjinë më të fundit për një udhëtim të rehatshëm dhe të sigurt.</p>
    </div>
  </div>
  
  <h2 style="text-align: center; margin-top: 50px; font-size: 30px; font-weight: bold; color: #333;">Njihuni me kompaninë tonë</h2>
  <p style="font-size: 18px; text-align: center; margin-bottom: 50px; color: #555; max-width: 900px; margin: 0 auto; line-height: 1.6;">Shërbimi Auto Rent AL është thelbi i kompanisë, dhe thelbi i Auto Rent AL është ekipi entuziast i profesionistëve që vazhdimisht punojnë për të bërë të mundur kënaqësinë e klientëve, duke u siguruar që Auto Rent AL është mbi të gjitha. Anëtarët e ekipit Auto Rent AL janë të arsimuar në universitete dhe flasin rrjedhshëm gjuhën angleze, gjermane dhe italiane.</p>  

  <div id="team" class="d-flex flex-wrap justify-content-center">
    <div class="team-member" style="margin: 30px; padding: 20px; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
      <h3 style="text-align: center; font-size: 24px; color: #333;">Lorenco Zeza</h3>
      <p style="text-align: center; font-size: 18px; font-weight: bold; color: #007BFF;">Menaxher i përgjithshëm</p>
      <p style="font-size: 16px; color: #555;">Lorenco është një biznesmen vizionar. Ai zotëron cilësitë që të gjithë do të dëshironin t'i gjenin te një mik dhe te një partner biznesi...</p>
    </div>

    <div class="team-member" style="margin: 20px; padding: 20px; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
      <h3 style="text-align: center; font-size: 24px; color: #333;">Luis Doko</h3>
      <p style="text-align: center; font-size: 18px; font-weight: bold; color: #007BFF;">Kordinator</p>
      <p style="font-size: 16px; color: #555;">Përtej kualifikimeve të tjera, Luis ka një zemër që dëshiron të shohë klientët të kënaqur dhe kompaninë që të ketë sukses...</p>
    </div>

    <div class="team-member" style="margin: 20px; padding: 20px; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
      <h3 style="text-align: center; font-size: 24px; color: #333;">Mario Mimini</h3>
      <p style="text-align: center; font-size: 18px; font-weight: bold; color: #007BFF;">Asistent Menaxher</p>
      <p style="font-size: 16px; color: #555;">Mario është njeriu që merret me shumë nga problemet e dhënies me qera dhe financat, nëse ke problem me kontraten ai eshte personi i duhur...</p>
    </div>

    <div class="team-member" style="margin: 20px; padding: 20px; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
      <h3 style="text-align: center; font-size: 24px; color: #333;">Melisa Lika</h3>
      <p style="text-align: center; font-size: 18px; font-weight: bold; color: #007BFF;">Menaxher</p>
      <p style="font-size: 16px; color: #555;">Melisa është personi i njerëzve, pozitive, e afrueshme dhe të gjithë do të ndjehen si në shtëpi që në sekondat para të takimit me të..</p>
    </div>
  </div>
</section>

{% endblock body %}
